{% extends 'projects/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static project.image %}" alt="poep">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    <p>{{ project.technology }}</p>

                    <a href="{% url 'projects:all_projects' %}" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}